.button{
    width: 100%;
    padding: .4rem 1.2rem;
    border: none;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0%);
    transition: 200ms;
    font-weight: 400;
    font-size: .9rem;
    color: #565656;
}
.button:hover{
    background-color: rgba(0, 0, 0, 3%);
}
.button > *{
    margin-right: 1rem;
}
.button_active > *{
    color: #3564FD;
}
.button_active{
    color: #3564FD;
}