.title{
    font-size: .9rem;
    color: #212529;
    font-weight: 500;
}
.transactions{
    width: 20rem;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chartArea{
    display: flex;
    flex-direction: column;
}
.chartContainer{
    margin-top: 2rem;
    height: 15rem;
    width: 100%;
}