.formWrapper{
    min-height: 100vh;
    position: relative;
}
.decorationBackground{
    position: relative;
    background-color: #f9f9ff;
    height: 100vh;
    display: flex;
}
.iconWrapper{
    display: flex;
    width: 100%;
    background-color: #f9f9ff;
    height: calc(100vh - 6rem);
    justify-content: center;
    align-items: center;
}