@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
.topbar{
    padding: 1rem;
    border: 1px solid red;
    background: #fff;
}
.brand{
    font-family: 'Quicksand';
    font-size: 1.2rem;
    color: #3564FD;
}