.AsideActive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 50%);

  transition: 600ms transform;
  transform: translateX(-1000px);
}
.AsideActive.active {
  transition: 300ms transform;
  transform: translateX(0);
}
